/** @format */

@use "config" as g;

html {
  font-size: 62.5%;
}

body {
  color: g.$text-color;
  font-family: g.$main-fontJP;
  letter-spacing: 0;
  line-height: 1.2;
}

.wrapper {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  padding: 80px 40px;

  @media screen and (max-width: 480px) {
    padding: 40px 16px;
  }
}

.main__contents {
  display: flex;
  gap: 32px;
}