/** @format */

@use "config" as g;

html {
  font-size: 62.5%;
}

body {
  color: g.$text-color;
  font-family: g.$main-fontJP;
  letter-spacing: 0;
  line-height: 1.2;
}

.wrapper {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  padding: 80px 40px;

  @media screen and (max-width: 480px) {
    padding: 40px 16px;
  }
}

.main__contents {
  display: flex;
  gap: 32px;
  align-items: flex-start;
}

.main__details {
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: calc(100% - 312px);

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  @media screen and (max-width: 480px) {
    gap: 40px;
  }
}

.section-title {
  font-size: 4rem;
  font-weight: bold;
  color: g.$text-color;
  padding: 8px;
  background-color: g.$heading-bg;
  border-radius: 50px 0px 0px 50px;
  text-align: center;
  position: relative;
  z-index: -1;

  @media screen and (max-width: 1024px) {
    font-size: 3.125vw;
  }

  @media screen and (max-width: 768px) {
    font-size: clamp(2.8rem, 4.166666666666666vw, 3.2rem);
  }

  @media screen and (max-width: 480px) {
    font-size: clamp(2rem, 5.833333333333333vw, 2.8rem);
  }

  &::before {
    position: absolute;
    content: '●';
    color: g.$white-color;
    top: 50%;
    transform: translateY(-50%);
    left: 18px;
  }
}

.btn {
  display: block;
  width: 100%;
  background-color: g.$main-color;
  color: g.$white-color;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  padding: 8px;
  border-radius: 50px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  @media screen and (max-width: 480px) {
    font-size: clamp(1.3rem, 3.75vw, 1.8rem);
  }

  br {
    display: none;

    @media screen and (max-width: 1024px) {
      display: block;
    }
  }
}

.btn-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}