// 変数を記述
$text-color: #333;
$white-color: #fff;
$gray-color: #ddd;
$main-color: #0a6b00;
$heading-bg: #ffebb7;
$bubble-bg: #e6fff0;
$blue-color: #0000ff;
$yellow-color: #ffff00;

$main-fontJP: 'Noto Sans JP', sans-serif;