/** @format */

@use "../../global/" as g;
@use "sass:math";

.topLink {
  background-color: g.$white-color;
  position: sticky;
  top: 150px;
  box-shadow: 0 0 8px rgba(51, 51, 51, 0.25);
  padding: 32px 16px 32px 24px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 9px;
  align-items: flex-end;
  width: 280px;

  @include g.mq("tab") {
    display: none;
  }
}

.topLink__link {
  font-size: 1.6rem;
  color: g.$text-color;
  position: relative;
  padding-right: 15px;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: g.$main-color;
    transform: translateY(-50%);
    opacity: 0;
    margin-top: 1.5px;
  }
}

.topLink__link.is-active {
  color: g.$main-color;
}

.topLink__link.is-active::after {
  opacity: 1;
}