/** @format */

@use "../../global/" as g;
@use "sass:math";

.topNews {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.topNews__line {
  padding: 16px 0;
  border-bottom: 1px solid g.$gray-color;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  gap: 24px;

  @include g.mq("pc") {
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    opacity: 0.7;
  }
}

.topNews__title {
  font-size: 2.4rem;
  color: g.$text-color;
  font-weight: bold;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;

  &::after {
    content: '';
    background-image: url('../img/pages/front-page/news-icon.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 32px;
    height: 32px;
  }
}

.topNews__detailsTitle {
  font-size: 1.8rem;
  color: g.$main-color;
  width: 100px;
}

.topNews__detailsContent {
  font-size: 1.8rem;
  color: g.$text-color;
}