/** @format */

@use "../../global/" as g;
@use "sass:math";

.newsContents__heading {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.newsContents__title {
  font-size: 4rem;

  @include g.mq('tab') {
    font-size: 3.2rem;
  }
}

.newsContents__date {
  font-size: 2rem;
  border-bottom: 1px solid g.$main-color;
  padding-bottom: 26px;

  @include g.mq('tab') {
    font-size: 1.3rem;
  }
}

.newsContents__text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 26px 0 73px 0;

  @include g.mq('tab') {
    padding: 26px 0 48px 0;
  }

  h1 {
    font-size: 6.4rem;

    @include g.mq('tab') {
      font-size: 4.8rem;
    }
  }

  h2 {
    font-size: 4rem;

    @include g.mq('tab') {
      font-size: 3.2rem;
    }
  }

  h3 {
    font-size: 3.2rem;

    @include g.mq('tab') {
      font-size: 2.4rem;
    }
  }

  h4 {
    font-size: 2.4rem;

    @include g.mq('tab') {
      font-size: 1.8rem;
    }
  }

  h5 {
    font-size: 2rem;

    @include g.mq('tab') {
      font-size: 1.8rem;
    }
  }

  h6 {
    font-size: 1.8rem;

    @include g.mq('tab') {
      font-size: 1.6rem;
    }
  }

  p {
    font-size: 2.5rem;

    @include g.mq('sp') {
      font-size: 1.6rem;
    }
  }

  ul {
    padding-left: 24px;
    li {
      font-size: 2.5rem;
      list-style-type: disc;

      @include g.mq('sp') {
        font-size: 1.6rem;
      }
    }
  }

  ol {
    li {
      font-size: 2.5rem;
      list-style-type: decimal;

      @include g.mq('sp') {
        font-size: 1.6rem;
      }
    }
  }

  a {
    text-decoration: underline;
    color: g.$blue-color;

    &:hover {
      opacity: 0.7;
    }
  }

  img {
    display: block;
  }
}