@charset "UTF-8";
/** @format */
/** @format */
html {
  font-size: 62.5%;
}

body {
  color: #333;
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 0;
  line-height: 1.2;
}

.wrapper {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  padding: 80px 40px;
}
@media screen and (max-width: 480px) {
  .wrapper {
    padding: 40px 16px;
  }
}

.main {
  background-image: url("../img/pages/front-page/blue-bg.png"), url("../img/pages/front-page/pink-bg.png"), url("../img/pages/front-page/orange-bg.png"), url("../img/pages/front-page/purple-bg.png");
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: top left, top 24vw right, bottom 43vw left, bottom right;
  background-size: 14.0625vw, 11.71875vw, 11.71875vw, 14.0625vw;
  position: relative;
  z-index: 0;
}
@media screen and (max-width: 1024px) {
  .main {
    background-position: top left, top 35vw right, bottom 43vw left, bottom right;
  }
}
@media screen and (max-width: 768px) {
  .main {
    background-position: top left, top 42vw right, bottom 85vw left, bottom right;
  }
}
@media screen and (max-width: 480px) {
  .main {
    background-position: top left, top 55vw right, bottom 125vw left, bottom right;
  }
}

.main__contents {
  display: flex;
  gap: 32px;
  align-items: flex-start;
}

.main__details {
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: calc(100% - 312px);
}
@media screen and (max-width: 768px) {
  .main__details {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .main__details {
    gap: 40px;
  }
}

.section-title {
  font-size: 4rem;
  font-weight: bold;
  color: #333;
  padding: 8px;
  background-color: #ffebb7;
  border-radius: 50px 0px 0px 50px;
  text-align: center;
  position: relative;
  z-index: -1;
}
@media screen and (max-width: 1024px) {
  .section-title {
    font-size: 3.125vw;
  }
}
@media screen and (max-width: 768px) {
  .section-title {
    font-size: clamp(2.8rem, 4.1666666667vw, 3.2rem);
  }
}
@media screen and (max-width: 480px) {
  .section-title {
    font-size: clamp(2rem, 5.8333333333vw, 2.8rem);
  }
}
.section-title::before {
  position: absolute;
  content: "●";
  color: #fff;
  top: 50%;
  transform: translateY(-50%);
  left: 18px;
}

.btn {
  display: block;
  width: 100%;
  background-color: #0a6b00;
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  padding: 8px;
  border-radius: 50px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 480px) {
  .btn {
    font-size: clamp(1.3rem, 3.75vw, 1.8rem);
  }
}
.btn br {
  display: none;
}
@media screen and (max-width: 1024px) {
  .btn br {
    display: block;
  }
}

.btn-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.faqWidget {
  position: fixed;
  right: 16px;
  bottom: 16px;
  width: 194px;
  z-index: 9999;
  border-radius: 100px;
  overflow: hidden;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.25);
  background: #fff;
  transition: all 0.4s;
}
@media screen and (max-width: 768px) {
  .faqWidget {
    width: 58px;
  }
}

.faqWidget.is-open {
  border-radius: 8px;
  width: min(320px, 100vw - 32px);
}

.faqWidget__header {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  background: #0a6b00;
  color: #fff;
  border: 0;
  cursor: pointer;
  font-weight: 700;
}

.faqWidget.is-open .faqWidget__header {
  padding: 16px;
}

.faqWidget__toggleIcon {
  width: 42px;
}

.faqWidget.is-open .faqWidget__toggleIcon {
  display: none;
}

.faqWidget__title {
  font-size: 1.6rem;
}
@media screen and (max-width: 768px) {
  .faqWidget__title {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .faqWidget.is-open .faqWidget__title {
    display: block;
  }
}

.faqWidget__body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s ease;
  background: #fff;
}

.faqWidget.is-open .faqWidget__body {
  max-height: 100vh; /* 展開時の最大高さ */
}

.faqWidget__msg {
  display: flex;
  gap: 8px;
  padding: 24px 16px 0;
}

.faqWidget__msgImg {
  max-width: 45px;
  width: 100%;
}

.faqWidget__msgText {
  font-size: 1.4rem;
  color: #333;
  background-color: #e6fff0;
  padding: 8px;
  border-radius: 8px;
}

.faqWidget__content {
  padding: 12px 12px 14px;
}

.faqWidget__list {
  display: grid;
  gap: 10px;
}

.faqWidget__item {
  width: 100%;
  text-align: left;
  border: 0;
  cursor: pointer;
  padding: 14px 12px;
  border-radius: 12px;
  background: #f6f6f6;
  font-size: 14px;
}

.faqWidget__answer {
  padding: 14px 12px;
  border-radius: 12px;
  background: #f6f6f6;
  font-size: 14px;
  line-height: 1.6;
}
.faqWidget__answer a {
  word-break: break-all;
  color: #0000ff;
  text-decoration: underline;
}

.faqWidget__footer {
  display: flex;
  gap: 8px;
  margin-top: 10px;
  justify-content: flex-end;
}

.faqWidget__back,
.faqWidget__reset {
  border: 0;
  cursor: pointer;
  padding: 10px 12px;
  border-radius: 10px;
  background: #ececec;
  font-size: 13px;
}

/** @format */
/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

.topLink {
  background-color: #fff;
  position: sticky;
  top: 150px;
  box-shadow: 0 0 8px rgba(51, 51, 51, 0.25);
  padding: 32px 16px 32px 24px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 9px;
  align-items: flex-end;
  width: 280px;
}
@media screen and (max-width: 768px) {
  .topLink {
    display: none;
  }
}

.topLink__link {
  font-size: 1.6rem;
  color: #333;
  position: relative;
  padding-right: 15px;
}
.topLink__link::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #0a6b00;
  transform: translateY(-50%);
  opacity: 0;
  margin-top: 1.5px;
}

.topLink__link.is-active {
  color: #0a6b00;
}

.topLink__link.is-active::after {
  opacity: 1;
}

/** @format */
.topNews {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.topNews__line {
  padding: 16px 0;
  border-bottom: 1px solid #ddd;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  gap: 24px;
}
@media screen and (max-width: 1024px) {
  .topNews__line {
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }
}
.topNews__line:last-child {
  border-bottom: none;
}
.topNews__line:hover {
  opacity: 0.7;
}

.topNews__title {
  font-size: 2.4rem;
  color: #333;
  font-weight: bold;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.topNews__title::after {
  content: "";
  background-image: url("../img/pages/front-page/news-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 32px;
  height: 32px;
}

.topNews__detailsTitle {
  font-size: 1.8rem;
  color: #0a6b00;
  width: 100px;
}

.topNews__detailsContent {
  font-size: 1.8rem;
  color: #333;
}

/** @format */
.topAccount {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (max-width: 480px) {
  .topAccount {
    gap: 24px;
  }
}

.topAccount__details {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (max-width: 480px) {
  .topAccount__details {
    gap: 24px;
  }
}

.topAccount__item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.topAccount__itemTitle {
  font-size: 3.2rem;
  color: #333;
  font-weight: bold;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1024px) {
  .topAccount__itemTitle {
    font-size: 2.34375vw;
  }
}
@media screen and (max-width: 768px) {
  .topAccount__itemTitle {
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 480px) {
  .topAccount__itemTitle {
    font-size: clamp(2.1rem, 5vw, 2.4rem);
  }
}
.topAccount__itemTitle::after {
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
}

.topAccount__itemTitle--beginner::after {
  background-image: url("../img/pages/front-page/beginner-icon.svg");
  width: 45px;
  height: 45px;
}
@media screen and (max-width: 1024px) {
  .topAccount__itemTitle--beginner::after {
    width: 4.39453125vw;
    height: 4.39453125vw;
  }
}
@media screen and (max-width: 768px) {
  .topAccount__itemTitle--beginner::after {
    width: 3.2rem;
    height: 3.2rem;
  }
}

.topAccount__itemTitle--person::after {
  background-image: url("../img/pages/front-page/person-icon.svg");
  width: 40px;
  height: 40px;
}
@media screen and (max-width: 1024px) {
  .topAccount__itemTitle--person::after {
    width: 3.90625vw;
    height: 3.90625vw;
  }
}
@media screen and (max-width: 768px) {
  .topAccount__itemTitle--person::after {
    width: 3.2rem;
    height: 3.2rem;
  }
}

.topAccount__flow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/** @format */
.topProject {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (max-width: 480px) {
  .topProject {
    gap: 24px;
  }
}

/** @format */
.topOthers {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (max-width: 480px) {
  .topOthers {
    gap: 24px;
  }
}

/** @format */
.topOthersBottom {
  display: flex;
  gap: 12px;
}
@media screen and (max-width: 1024px) {
  .topOthersBottom {
    flex-direction: column;
  }
}

.topOthersBottom__item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
}

.topOthersBottom__title {
  font-size: clamp(2rem, 1.875vw, 2.4rem);
  color: #0a6b00;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .topOthersBottom__title {
    font-size: clamp(1.8rem, 4.1666666667vw, 2rem);
  }
}/*# sourceMappingURL=front-page.css.map */